@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


/* //........top text ........// */

:root {
    /* //....... Color ........// */
    --primary-color: #ff3c78;
    --light-black: rgba(0, 0, 0, 0.89);
    --black: #000;
    --white: #fff;
    --grey: #aaa;
}


/* //........top text ........// */

.top-txt {
    background-color: var(--black);
}
#blog {
    margin-bottom: 250px;
}

.blog-heading p {
    text-align: center;
    font-size: 18px;
    color: var(--primary-color);
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 70px;
}

.blog-heading h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: var(--light-black);
}

.l-blog {
    padding-top: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.l-blog img {
    height: 200px;
    width: 300px;
}

.l-blog1 {
    position: relative;
    width: 280px;
    height: 230px;
}

.l-blog1 .blog1-conte {
    position: absolute;
    bottom: -60%;
    left: 7%;
    background: var(--white);
    padding: 25px;
}

.l-blog2 {
    position: relative;
    width: 280px;
    height: 230px;
}

.l-blog2 .blog2-conte {
    position: absolute;
    bottom: -60%;
    left: 7%;
    background: var(--white);
    padding: 25px;
}

.l-blog3 {
    position: relative;
    width: 280px;
    height: 230px;
}

.l-blog3 .blog3-conte {
    position: absolute;
    bottom: -60%;
    left: 7%;
    background: var(--white);
    padding: 25px;
}

.l-blog1 .blog1-conte .date-blog1 p {
    color: var(--light-black);
    text-align: center;
    padding: 15px 0;
}

.l-blog1 .blog1-conte .date-blog1 h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
}

.l-blog1 .blog1-conte .date-blog1 a {
    text-decoration: none;
    text-align: center;
    padding: 0 50px;
    color: var(--primary-color);
    position: relative;
    font-weight: 600;
}

.l-blog1 .blog1-conte .date-blog1 a::after {
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.l-blog1 .blog1-conte .date-blog1 a:hover:after {
    width: 0%;
}

.l-blog1 .blog1-conte .date-blog1 a:hover {
    color: var(--black);
}

.l-blog2 .blog2-conte .date-blog2 p {
    color: var(--light-black);
    text-align: center;
    padding: 15px 0;
}

.l-blog2 .blog2-conte .date-blog2 h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
}

.l-blog2 .blog2-conte .date-blog2 a {
    text-decoration: none;
    text-align: center;
    padding: 0 60px;
    color: var(--primary-color);
    position: relative;
    font-weight: 600;
}

.l-blog2 .blog2-conte .date-blog2 a::after {
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.l-blog2 .blog2-conte .date-blog2 a:hover:after {
    width: 0%;
}

.l-blog2 .blog2-conte .date-blog2 a:hover {
    color: var(--black);
}

.l-blog3 .blog3-conte .date-blog3 p {
    color: var(--light-black);
    text-align: center;
    padding: 15px 0;
}

.l-blog3 .blog3-conte .date-blog3 h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
}

.l-blog3 .blog3-conte .date-blog3 a {
    text-decoration: none;
    text-align: center;
    padding: 0 60px;
    color: var(--primary-color);
    position: relative;
    font-weight: 600;
}

.l-blog3 .blog3-conte .date-blog3 a::after {
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.l-blog3 .blog3-conte .date-blog3 a:hover:after {
    width: 0%;
}

.l-blog3 .blog3-conte .date-blog3 a:hover {
    color: var(--black);
}